composer.phar
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
pc.stdout.log
bin/
ensime-langserver.log
ensime.sbt
.cache-main
.cache-tests
.ensime
.ensime_cache/
